<!-- <div>
  <b-alert variant="success" show>
    Login Alert
  </b-alert>
</div> -->



<main class="login container">
  <div class="row jumbotron">
    <div class="col-12 col-6-tablet push-3-tablet text-center heading">
      <h1 class="font-100">Account Signup</h1>
        <!-- <userform></userform> -->
        <spinner></spinner>
        {{ $data }}
        <div id="#hello"></div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-6-tablet push-3-tablet col-4-desktop push-4-desktop">
      <form v-on:submit.prevent="handleSubmit">
         <fieldset :class="{ 'has-danger': errors.has('email') }" >
          <input 
              v-model="email"
              v-validate="{ rules: { required: true, email: true } }" 
              :class="{'form-control-danger': errors.has('email') }"
              class="form-control"
              type="text"
              name="email"
              placeholder="Email"
            ></input>
        </fieldset>
        <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
        <hr />
        <fieldset :class="{ 'has-danger': errors.has('password') }" >
          <input 
              v-model="password"
              v-validate="{ rules: { required: true } }" 
              :class="{'form-control-danger': errors.has('password') }"
              class="form-control"
              type="password"
              name="password"
              placeholder="Password"
          ></input>
        </fieldset>
          <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span> 
          <hr />

          <!-- <span>Don't have an Account? <a class="text-primary" routerLink="/signup">Sign up!</a></span> -->
        <button :disabled="errors.any()" type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>

    </div>
  </div>
</main>