<div>
  <!-- <button class="btn btn-success" @click="handleSubmit">Check</button> -->

  <div class="row">
    <div class="col-3">

      
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>{{users.length}} Users online!</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in users">
            <!-- <th scope="row">1</th> -->
            <td><strong>{{ index }} </strong>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-8">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>User</th>
            <th>Message</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(message, index) in messages">
            <!-- <th scope="row">1</th> -->
            <td><strong>{{ message.userEmail }}</strong></td>
            <td>{{ message.text }}</td>
            <td>{{ message.createdAt }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
