$colors: (
  white: #000000,
  black: #000000,
  lightGray: #ccd3ea,
  darkBlue: #182244,
  lightRed: #E26872
);


@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: #{$color};
  }
  .font-#{$name} {
    color: #{$color};
  }
}
