.menu-icon {
  background-color: $white !important;
  cursor: pointer;
}

.navbar-toggler {
  background-color: $white !important;
  cursor: pointer;
}

.dropdown-toggle {
  color: white !important;
}